.container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    height: 28rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.Img-box {
    width: 17rem;
    height: 17rem;
    overflow: hidden;
    object-fit: contain; /* Ensures the image covers the box without stretching */
    object-position: center; /* Centers the image */
    border-radius: 8px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.details {
    margin-top: 1rem;
    text-align: center;
}

.title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.BUTTON {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}
